section.identification {
    h1 {
        text-align:center;
        font-size:1em;
        margin-top:1em;
    }

    .btn-area {
        margin-top:10px;

        button.get.ars.button {
            display:block;
            width:100%;
            padding:10px;
            color:$white;
        }
    }

}
